body, html {
	background-color: #F8F9F9;
	height: 100%;
}

h3, h4 {
	font-family: 'Merriweather', serif;

}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.header {
	/* padding-top: 50px;
	padding-bottom: 50px; */

}

.logo {
	margin-left:35% ;
	
	margin-top: 0;
	height: 100px;
	width: 100px;
}


.site-title {
	font-size: 120%;
    /* font-weight: 10;
    line-height: 1; */
}

@media (max-width: 980px){
	.site-title  {
		font-size:2rem;
	}
}

.product-img {
	width: 100px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 15px;
}


.product-img:after {
	width: 265px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color:rgba(0, 0, 0, .5);
}

.item-title {
     font-size: 1rem;
	 
    font-weight: 500; 
	font-family: 'Merriweather', serif;
	 min-height: 30px; 
}

@media (max-width: 980px){
	.item-title  {
		font-size:80%;
		min-height: auto;
		margin-top: -10%;
	}}

.text-muted{

	font-size: 1rem;
    font-weight: 500; 
	

}

	@media (max-width: 980px){
	.text-muted{	
		font-size:70%;
		margin-top: -10%;
	}
}

.details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	flex-wrap: wrap;
	margin-bottom: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.items {
	font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 15px;
	width: 80px;
	display: flex;
	font-size: 14px;
	height: 20px;
	overflow: hidden;
}

.items__control {
	width: 40px;
	height: 30px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
}

.items__control:hover {
    background: #8d1eeb;
    color: #FFF;
}

.items__current {
	width: 40px;
}

/* items--small */
.items.items--small {
	width: 90px;
	font-size: 16px;
	height: 26px;
	text-align: center;
}

.items.items--small .items__control {
	width: 30px;
}

.items.items--small .items__current {
	width: 30px;
}

.price {
	text-align: left;
}

.price__weight {
	color: #6c757d!important;
	font-size: 80%;
	line-height: 1;
}

.price__currency {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
}

.btn-outline-warning {
    color: #8d1eeb;
    border-color: #8d1eeb;
	width: 120px;
	height: 40px;
	font-size: medium;
	margin-right: -10px;
}

.btn-outline-warning:hover {
    color: #FFF;
    background-color: #8d1eeb;
    border-color: #8d1eeb;
}

.cart-item__top {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-bottom: 15px;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 15px;
}

.cart-item__img img {
	max-width: 100px;
	height: auto;
}

.cart-item__desc {
	padding-top: 15px;
	padding-left: 15px;
	max-width: 208px;
}

.cart-item__title {
	font-family: 'Merriweather', serif;
	font-size: 16px;
    line-height: 1.2;
	font-weight: 600;
	margin-bottom: 5px;
}

.cart-item__weight {
    color: #6c757d!important;
    font-size: 80%;
    line-height: 1;
    margin-bottom: 15px;
}

.cart-item__details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cart-item__details .price__currency {
	font-size: 18px;
	margin-left: 15px;
}

.cart-total {
	font-size: 18px;
	font-weight: 500;
}
.free {
	color: #8d1eeb;
}

.total-price {
	color: #8d1eeb;
}

.rouble {
	color: #8d1eeb;
}

.none {
	display: none;
}
.hidden-description {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 10px;
	border: 1px solid #ccc;
}

.card:hover .hidden-description {
	display: block;
}
.card-body.text-center{
box-shadow:  inset 2px -2px 8px rgba(129, 73, 152, 0.442);
width: 88%;
height: 20%;
border-radius: 20px;
transform: translateY(5px);
margin-left: 11px;
margin-right: 5px;
margin-bottom: 8%;
margin-top: 8%; 

}
.card.mb-4{
box-shadow:  inset 2px -2px 8px rgba(129, 73, 152, 0.442);
border-radius: 15px;
transform: translateY(5px);
margin-left: 11px;
margin-bottom: 13px;
position: relative;
height: 48%;
width: 170px;

}
 
.btn.btn-block.btn-outline-warning{
margin-bottom: 100px;	

}



/* @media screen and (max-width: 600px) {
  #korzina { */
  /* position: fixed; /* Фиксированное положение */ 
	/* right: 10px; /* Расстояние от правого края окна браузера */ 
	/* top: 20%; /* Расстояние сверху */ 
  /* }
} */